table tr th.serial , table tr td.serial {
    width: 4em;
}

table tr th.title, table tr td.title {
    width: 11em;
}

table tr th.create-time, table tr td.create-time {
    width: 7em;
}

table tr th.deal, table tr td.deal {
    width: 4em;
}

table tr th.origin, table tr td.origin {
    width: 4em;
}