.m-0 {
    margin: 0px !important;
}

.mb-1 {
    margin-bottom: .5em !important;
}

.mb-2 {
    margin-bottom: 1em !important;
}

.ml-2 {
    margin-left: 1.5em !important;
}

.ml-5 {
    margin-left: 3.5em !important;
}

.primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}

.success {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
}

.col-4 {
    width: 33.33333%;
    float: left;
}

button {
    border-style: solid !important;
}